<!-- Archivo: views/perfil.ejs -->
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Perfil SSR</title>
</head>

<body>
    <h1>¡Hola Mundo!</h1>
    <h2>Bienvenido, <strong>
            <%= nombre %>
        </strong></h2>
    <p>Este HTML fue renderizado en el servidor. La hora es: <%= hora %>
    </p>
</body>

</html>